body {
  font-family: "Artifika";
  font-size: 15px;
  background-image: url("../img/Haunted_House.jpg");
  background-position: top;
  background-size: cover;

}

.container {
  z-index: 1;
  margin-top: 30px;
  background-color: white;
}

/* HEADER SECTION */
.header {
  text-align: center;
  border: 1px solid black;
  color: white;
  background-image: url("../img/haunted2.jpg");
  background-position: bottom;
  background-size: cover;
}
.help-menu {
  border: 1px solid black;
  height: 400px;
  text-align: left;
}
.inventory{
  border: 1px solid black;
  height: 300px;
}
h1 {
  font-size: 4em;
  letter-spacing: 8px;
}

/* INVENTORY / SIDEBAR */

.sidebar {
  min-height: 700px;
  border: 1px solid black;
  text-align: center;
  background-color:
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

/* MAIN SECTION / TEXT OUPUT */

.main-section {
  overflow-y: scroll;
  height: 700px;
  padding-top: 25px;
  border: 1px solid black;
  color: darkred;
  /*background-image: url("../img/glowingKey.jpeg");*/
  background-repeat:no-repeat;
  background-position: bottom;;
}
#game-header {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color:  #330000;
  padding: 10px;
  border-radius: 20px;

}
/*#help {
  display: none;
}*/

/* USER INPUT AREA */

.userInput {
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  /*margin-bottom: 10px;*/
  background-image: url("../img/1.jpg");
  /*background-image: url("../img/moon.jpg");
*/
  background-position: top;
  background-size: cover;

}
.userInput h2{
  color: white;
}

#inputArea {
  margin-top: 25px;
}

#formSubmit {
  display:none;
}
