.jumbotron {
  text-align: center;
  font-family: 'Nosifer', cursive;
  color: #963b3b;
}

body {
  font-family: "Artifika";
  font-size: 15px;
  background-image: url("../img/pink-dust.png");
  /*background-position: top;
  background-size: cover;*/
  margin-bottom: 3%;

}



.container {
  z-index: 1;
  margin-top: 30px;
}

/* HEADER SECTION */
.header {
  text-align: center;
  border: 2px solid white;
  color: #FFFFFF;
  background-image: url("/Users/Guest/Desktop/text-adventure/img/haunted2.jpg");
  background-position: bottom;
  background-size: cover;
}
h1 {
  font-size: 4em;
  letter-spacing: 8px;
}

/* INVENTORY / SIDEBAR */

.sidebar {
  min-height: 800px;
  border: 2px solid white;
  text-align: center;
  background-color: white;
  font-size: 24px;
  border-radius: 10px;
  margin-right: 5%;
  margin-left: 2%;
  color: #963b3b
}



ul {
  list-style-type: none;
  padding-left: 0px;
}

/* MAIN SECTION / TEXT OUPUT */

.main-section {

  overflow-y: scroll;
  height: 800px;
  padding-top: 10px;
  border: 2px solid white;
  color: #963b3b;
  /*background-image: url("../img/glowingKey.jpeg");*/
  background-repeat:no-repeat;
  background-position: bottom;;
  border-radius: 10px;
  background-color: white;
  font-size:18px;
}
#game-header {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color:  #963b3b;
  padding: 10px;
  border-radius: 10px;

}
/*#help {
  display: none;
}*/

/* USER INPUT AREA */

.userInput {
  border: 2px solid white;
  text-align: center;
  background-color: white;
  font-size: 18px;
  border-radius: 10px;
  padding-right: 1%;
  margin-left: -48px;
  margin-top: 2%;
  color: #963b3b
}

.userInput h3{
  font-size: 20px;
}

#inputArea {
  margin-top: 10px;
}

#formSubmit {
  display:none;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #963b3b;
}

input.form-control:focus {
    color: #963b3b;
}
