.jumbotron {
  text-align: center;
  font-family: 'Nosifer', cursive;
  color: #963b3b;
}

body {
  font-family: "Artifika";
  font-size: 15px;
  background-image: url("../img/pink-dust.png");
  /*background-position: top;
  background-size: cover;*/
  margin-bottom: 3%;

}



.container {
  z-index: 1;
  margin-top: 30px;
}


/* HEADER SECTION */
/*.header {
  text-align: center;
<<<<<<< HEAD
  border: 2px solid white;
  color: #FFFFFF;
  background-image: url("/Users/Guest/Desktop/text-adventure/img/haunted2.jpg");
  background-position: bottom;
  background-size: cover;
}
=======*/
  /*border: 1px solid black;*/
  /*color: white;
  background-image: url("../img/haunted2.jpg");
  background-position: bottom;
  background-size: cover;
}*/
.help-menu {
  /*border: 1px solid black;*/
  height: 400px;
  text-align: center;
  /*margin-top: 37%;*/
}

/*.help-menu h3 {
    padding-bottom: 10%;
}*/

.help-menu h4 {
    /*padding: 2%;*/
}

.inventory{
  /*border: 1px solid black;*/
  height: 100px;
}
#helpCommand, #inventory-text{
  color: #963b3b;
}

/*h1 {
  font-size: 4em;
  letter-spacing: 8px;
}*/

/* INVENTORY / SIDEBAR */

.sidebar {
  min-height: 800px;
  text-align: center;
  background-color: white;
  font-size: 15px;
  color: rgb(150, 59, 59);
  margin-left: 2em;
  margin-right: 3%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-image: initial;
  border-radius: 10px;
}



ul {
  list-style-type: none;
  padding-left: 0px;
}

/* MAIN SECTION / TEXT OUPUT */

.main-section {
    overflow-y: scroll;
    height: 757px;
    padding-top: 10px;
    color: rgb(150, 59, 59);
    background-color: white;
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 10px;
  /*height: 700px;
  padding-top: 25px;*/
  /*border: 1px solid black;*/
  /*color: #00cc00;
  font-weight: bolder;*/
  /*background-image: url("../img/glowingKey.jpeg");*/
  /*background-repeat:no-repeat;
  background-position: center;*/
}
#game-header {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color:  #963b3b;
  padding: 10px;
  border-radius: 10px;

}

/*#help {
  display: none;
}*/

/* USER INPUT AREA */

.userInput {

  border: 2px solid white;
  text-align: center;
  background-color: white;
  font-size: 18px;
  border-radius: 10px;
  padding-right: 1%;
  margin-left: -48px;
  margin-top: 2%;
  color: #963b3b

}

.userInput h3{
  font-size: 20px;
}

#inputArea {
  margin-top: 10px;
  margin-left: -16px;
  width: 782px;
}

#formSubmit {
  display:none;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #963b3b;
}

input.form-control:focus {
    color: #963b3b;
}
.userTextOutput{
  color: black;
}

.room-2-show {
  display: none;
}

.room-1-show {
  display: none;
}


@media screen and (max-width: 1199px) {
  #inputArea {
    margin-top: 10px;
    margin-left: -16px;
    width: 650px;
  }
  }


@media screen and (max-width: 992px) {
  #inputArea {
    margin-top: 10px;
    margin-left: -16px;
    width: 505px;
  }
  }
